@import url('https://fonts.googleapis.com/css2?family=Modak&family=Titan+One&display=swap');

.aboutMeContainer {
    height: 100vh;
    background-color: #DD02FE;
    color: white;
}

.aboutTransition {
    height: 3rem;
}

.aboutSection {
    display: flex;
    text-align: center;
}

.imgSide {
    height: 42rem;
    margin-top: -14rem;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.aboutText {
    line-height: 2.5rem;
    margin-top: 2rem;
    text-align: justify;

}

.aboutTitle {
    margin-top: 5rem;
    font-family: 'Modak', cursive;
    font-size: 70px;
    text-align: center;
    color: #407BFF;
}

.aboutPara {
    margin: 0rem 4rem;
    margin-top: 2rem;

}

.skills {
    margin-top: 1.5rem;
    color: brown;
}

.skillsContainer {
    margin-top: 3.5rem;
    margin-left: 2rem;
}

.skillsOne, .skillsTwo {
    display: flex;
    justify-content: center;
}

.aboutIcons {
    width: 3rem;
    border-radius: 10px;
    cursor: pointer;
}

.upper {
    margin: 0rem 1.5rem;
} 

.lower {
    margin: 0rem 1.5rem;
    margin-top: 1.5rem;
}

.spacing {
    margin-bottom: 2rem;
}

.aboutArrowSection {
    background-color: rgb(227, 195, 227);
    margin-left: 50%;
    margin-top: -9rem;
    border-radius: 25px;
    height: 1.9rem;
    width: 1.9rem;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: arrow 4s infinite;
}

@keyframes arrow {
    50% {margin-top: -5rem;}
    50% {margin-top: -7.5rem;}
}

.aboutArrow {
    color: white;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
    color: rgb(209, 59, 229);
}

.skillsText {
    display: none;
}





/* MEDIA QUERIES */

@media screen and (max-width: 1158px) {
    .imgSide {
       margin-right: -4rem;

    }
}

@media screen and (max-width: 1110px) {
    .aboutText {
        font-size: 14px;
    }
}

@media screen and (max-width: 1060px) {
    .aboutText {
        font-size: 13px;
    }
}

@media screen and (max-width: 1042px) {
    .aboutSection {
        display: grid;
    }

    .aboutMeContainer {
        height: 100%;
    }

    .imgSide {
        display: none;
    }

    .aboutArrowSection {
        display: none;
    }

}

@media screen and (max-width: 656px) {
    .aboutIcons {
        width: 2rem;
        margin: 1rem 1rem;
    }

    .skillsContainer {
        margin-left: -0.5rem;
    }
}

@media screen and (max-width: 425px) {
    .skillsContainer {
        display: none;
    }

    .aboutText {
        margin-top: -3rem;
    }

    .skillsText {
        display: grid;
        margin-top: 1.5rem;
    }

    .skillsText > h2 {
        letter-spacing: 0.5rem;
        color: hotpink;
    }

    .aboutUl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-left: 15%; */
    }

    .aboutUl > li {
        list-style: none;
        margin-right: 2rem;
        animation: 4s infinite colortext;
    }

    .spacing {
        margin: 2.15rem 0rem;
        padding: 0;
    }
}

@media screen and (max-width: 384px) {
    .aboutPara {
        font-size: 15px;
        word-spacing: -0.1rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .aboutTitle {
        font-size: 40px;
        margin-left: -0.7rem;
    }
}