html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    user-select: initial;
}

html {
    overflow-x: hidden;
}

@media screen and (max-width: 550px) {
    *::-webkit-scrollbar {
        display: hidden;
    }
}