@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.landingPageContainer {
    /* display: flex; */
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
}


.landingTitle {
    background: -webkit-linear-gradient(rgb(233, 12, 222), rgb(105, 203, 255), rgb(235, 226, 226));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    padding-top: 15rem;
    padding-bottom: 14rem;

}


.landingHello {
    color: plum;
    background: none;

}

.landing {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.landingArrowSection {
    /* margin-bottom: -10rem;
    margin-top: 13rem; */
    background-color: rgb(227, 195, 227);
    margin: 0rem 46.5rem;
    border-radius: 25px;
    height: 2rem;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: upanddown 4s infinite;
}

.landingArrow {
    color: white;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
    color: rgb(209, 59, 229);
}

@keyframes upanddown {
    0% {margin-top: 0rem;}
    50% {margin-top: 1rem;}
    50% {margin-top: -1rem;}
}