@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.landingPageContainer {
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
}


.landingTitle {
    background: -webkit-linear-gradient(rgb(223, 145, 247) , rgb(78, 63, 216) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    padding-bottom: 9rem;

}

.landingLetters {
    /* background: -webkit-linear-gradient( rgb(86, 86, 232), rgb(145, 66, 225));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15rem;
    color: rgb(210, 126, 225);
}

.landingLetters > h1 {
    /* animation: spacingLetters 5s infinite ; */
    font-size: 130px;
    margin: 0rem 1rem;
}

@keyframes spacingLetters {
    0% {padding-left: 20px;}
    50% {padding-right: 40px;}
    100% {padding-left: 20px;}
}

.landingFlower {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
    animation: landingFlower 3s infinite;
}

@keyframes landingFlower {
        0% {transform: rotate(360deg);}
    }


.landing {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sideBar {
    position: fixed;
    right: 0;
    top: 19.5rem;
    background: -webkit-linear-gradient(90deg, rgb(223, 145, 247) , rgb(78, 63, 216));
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 99;
}

.sideIcons {
    width: 1.5rem;
    height: 3rem;
}

.landingArrowSection {
    background-color: rgb(227, 195, 227);
    margin-left: 50%;
    border-radius: 25px;
    height: 2rem;
    width: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: upanddown 4s infinite;
}

.landingArrow {
    color: white;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
    color: rgb(209, 59, 229);
}

@keyframes upanddown {
    0% {margin-top: 0rem;}
    50% {margin-top: 1rem;}
    50% {margin-top: -1rem;}
}







/* MEDIA QUERIES */

@media screen and (max-width: 1086px) {
    .landingTitle {
       font-size: 60px;
       margin-bottom: 2rem;
    }

}

@media screen and (max-width: 799px) {
    .landingTitle {
       font-size: 50px;
       margin-bottom: 7rem;
    }

    .landingLetters > h1 {
        font-size: 70px;
    }

    .landingFlower {
        width: 4rem;
        height: 4rem;
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 678px) {
    .landingTitle {
       font-size: 40px;
       margin-bottom: 9rem;
    }

    .landingLetters > h1 {
        font-size: 60px;
    }

    .landingFlower {
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 0.2rem;
    }
}

@media screen and (max-width: 641px) {
    .landingTitle {
       font-size: 30px;
       margin-bottom: 9rem;
    }

    .landingLetters > h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 472px) {
    .landingTitle {
       font-size: 20px;
       margin-bottom: 9rem;
    }

    .landingLetters > h1 {
        font-size: 40px;
    }

    .landingFlower {
        width: 3rem;
        height: 3rem;
        margin-top: 0rem;
    }

    @keyframes spacingLetters {
        0% {padding-left: 10px;}
        50% {padding-right: 20px;}
        100% {padding-left: 10px;}
    }
}

@media screen and (max-width: 281px) {
    @keyframes spacingLetters {
        0% {padding-left: 7px;}
        50% {padding-right: 15px;}
        100% {padding-left: 7px;}
    }
}