.projectsContainer {
    height: 100vh;
    background-color: #4900D5;
}

.letters {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    color: white;
    font-family: 'Titan One', cursive;
}

.letters > h1 {
    margin: 0rem 1.5rem;
    font-size: 70px;
}

.projectRight {
    transform: rotate(20deg);
    animation: rights 4s infinite;
}

@keyframes rights {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}

.projectLeft {
    transform: rotate(-20deg);
    animation: lefts 4s infinite;
}

@keyframes lefts {
    0% {transform: rotate(-20deg);}
    50% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}

.r, .c {
    color: rgb(238, 200, 8);
}

.o, .t {
    color: rgb(104, 190, 252);
}

.j, .s {
    color: rgb(112, 16, 156);
}

.p, .e {
    color: rgb(237, 66, 149);
}

.projectsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
    color: white;
}

.ncSection, .cdSection, .twdSection {
    height: 32.25rem;
    text-align: center;
    margin: 0rem 3rem;
}

.projectTitle {
    font-family: 'Modak', cursive;

}

.gifs {
    height: 13rem;
    width: 100%;
    /* margin: 0rem 3rem; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gbOne {
    background-color: rgb(237, 66, 149);
}

.gbTwo {
    background-color: rgb(180, 66, 237);
}

.gbThree {
    background-color: rgb(66, 74, 237);
}

.gifsBottom {
    text-align: justify;
    /* margin: 0rem 3rem; */
    color: rgb(15, 14, 15);
    height: 15rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1
}

.gifText {
    margin: 0rem 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.largeText {
    font-size: 20px;
}

.lowestHalf {
    margin: 0rem 2rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.gifsBottom > p {
    color: white;
}

.gifText {
    font-size: 15px;
}

.gbTwo > .gifText {
    font-size: 15px;
}

.gbTwo > .lowestHalf  {
    margin-top: 0.5rem;
}

.gbThree > .gifText {
    font-size: 14px;
}

.projectUL {
    display: flex;
    margin-left: -0.8rem;
    animation: coded 5s infinite;
    color: violet;
}

.projectFirst, .projectSecond {
    font-size: 15px;
}

.gifLeft > h4, .repoContainer > h4 {
    font-weight: 600;
}

@keyframes coded {
    0% {color: violet}
    50% {color: white}
    75% {color: violet}
    
}

.projectFirst {
    margin-right: 2.5rem
}

.repoContainer {
    justify-content: center;
    text-align: center;
}

.repoContainer > h4 {
    margin-bottom: 1.5rem;
}

.projectGit {
    width: 3rem;
}

.projectArrowSection {
    background-color: rgb(227, 195, 227);
    margin-left: 97.5%;
    margin-top: -2.2rem;
    border-radius: 25px;
    height: 1.9rem;
    width: 1.9rem;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: pArrow 4s infinite;
    z-index: 98;
}

@keyframes pArrow {
    /* 0% {margin-top: -3;} */
    50% {margin-top: 0rem;}
    50% {margin-top: -3rem;}
}

.projectArrow {
    color: white;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
    color: rgb(209, 59, 229);
    z-index: 97;
}

.secondnc {
    display: none;
}








/* MEDIA QUERIES */

@media screen and (max-width: 1387px) {
    .projectsContainer {
        height: 80rem;
    }

    .firstnc {
        display: none;
    }

    .secondnc {
        display: grid;
    }

    .projectsSection {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 12%;
    }

    .ncSection, .cdSection, .twdSection {
        height: 32.25rem;
        text-align: center;
        margin: 0rem 0rem;
        width: 25rem;
    }

    .ncSection {
        margin-left: -6rem;
        width: 24.5rem;
    }

    .twdSection {
        margin-left: 20rem;
    }

    .projectArrowSection {
        margin-top: 1rem;
        margin-left: 96%;
    }

    @keyframes pArrow {
        50% {margin-top: 0rem;}
        50% {margin-top: -2rem;}
    }
}

@media screen and (max-width: 1166px) {
    .projectsSection {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1056px) {
    .projectsSection {
        margin-left: 1rem;
    }

    .cdSection {
        margin-left: 6rem;
    }

    .ncSection {
        margin-left: -11rem;
        margin-top: -0.5rem;
    }

    .ncSection > a > div {
        margin-bottom: -0.5rem;
        margin-left: -0.05rem;
    }
}

@media screen and (max-width: 966px) {
   .projectsSection {
    margin-left: -2rem;
   }
}

@media screen and (max-width: 911px) {
   .projectsSection {
    margin-left: -4rem;
   }
}

@media screen and (max-width: 876px) {
   .projectsSection {
    margin-left: -5rem;
   }
}

@media screen and (max-width: 863px) {
.projectsContainer {
    height: 109.2rem;
}

   .projectsSection {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    margin-left: 25%;
   }

   .ncSection, .cdSection, .twdSection {
    height: 32.25rem;
    text-align: center;
    margin: 0rem 0rem;
    width: 25rem;
}
}

@media screen and (max-width: 747px) {
    .letters > h1 {
        font-size: 50px;
        margin-bottom: 2.5rem;
    }

    .projectArrowSection {
        margin-left: 90%;
        margin-top: -2rem;
    }

    @keyframes pArrow {
        /* 0% {margin-top: -3;} */
        50% {margin-top: 0rem;}
        50% {margin-top: -4rem;}
    }
}

@media screen and (max-width: 633px) {
    .letters > h1 {
        font-size: 30px;
        margin-bottom: 2.5rem;
    }

    .projectsSection {
        margin-left: 19%;
       }
}

@media screen and (max-width: 543px) {
    .letters > h1 {
        margin: 0rem 1rem;
        margin-bottom: 2.5rem;
    }

    .ncSection, .cdSection, .twdSection {
        height: 32.25rem;
        text-align: center;
        margin: 0rem 0rem;
        width: 20rem;
    }

    .gifsBottom > .gifText {
        font-size: 13px;
    }

    .lowestHalf {
        margin-left: 1rem;
    }

}

@media screen and (max-width: 506px) {
    .projectsSection {
        margin-left: 10%;
       }
}

@media screen and (max-width: 422px) {
    .projectArrowSection {
        margin-left: 90%;
        margin-top: 0rem;
    }

    @keyframes pArrow {
        50% {margin-top: 0rem;}
        50% {margin-top: -2rem;}
    }

    .letters > h1 {
        margin: 0rem 0.5rem;
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 399px) {
    .projectArrowSection {
        margin-left: 90%;
        margin-top: 1rem;
    }

    @keyframes pArrow {
        50% {margin-top: 1rem;}
        50% {margin-top: -1rem;}
    }
}

@media screen and (max-width: 373px) {
    .projectsSection {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 361px) {
    .projectsSection {
        margin-left: 0.2rem;
    }

    .letters {
        margin-left: -2.5rem;
    }
}

@media screen and (max-width: 337px) {
    .ncSection, .cdSection, .twdSection {
        height: 32.25rem;
        text-align: center;
        margin: 0rem 0rem;
        width: 16rem;
    }

    .gifsBottom > .gifText {
        font-size: 12px;
    }

    .gifLeft > h4 {
        font-size: 11px;
        text-align: center;
    }

    .repoContainer {
        display: none;
    }
}

@media screen and (max-width: 328px) {
    .projectArrowSection {
        margin-left: 85%;
    }

    @keyframes pArrow {
        50% {margin-top: 1rem;}
        50% {margin-top: -1rem;}
    }

    .letters {
        margin-left: -1rem;
    }
}

@media screen and (max-width: 292px) {
    .letters > h1 {
        font-size: 24px;
    }
}